<img class="wave" src="/assets/images/wave.png">
<div class="container">
	<div class="img">
		<img src="/assets/images/bg.svg">
	</div>
	<div class="login-content">
		<form [formGroup]="loginForm" (ngSubmit)="Login()">
			<img src="/assets/images/avatar.svg">
			<h2 class="title">Welcome</h2>
			   <div [ngClass]="isFocusName ? 'input-div focus' : 'input-div'" (click)="onFocusName()" (keydown.Tab)="onKey($event)" >
				  <div class="i">
						  <i class="fas fa-user"></i>
				  </div>
				  <div class="div">
						  <h5>Username</h5>
						  <input type="text" id="onFocus" class="input" formControlName="id">
				  </div>
			   </div>
			   <div [ngClass]="isFocusPass ? 'input-div focus' : 'input-div'" (click)="onFocusPass()">
				  <div class="i"> 
					   <i class="fas fa-lock"></i>
				  </div>
				  <div class="div">
					   <h5>Password</h5>
					   <input type="password" class="input"  formControlName="password">
			   </div>
			</div>
			<a href="#">Forgot Password?</a>
			<input type="submit" class="btn" value="Login">
		</form>
	</div>
</div>	


